<!DOCTYPE html>

<div id="about_container" class="container">
  <h1>AGASTYA</h1>
  <p>MEMO + SHARE → IDEA</p>
  <span><a href="./sessions/login">LOG IN</a> / <a href="./sessions/sign">SIGN UP</a></span>
</div>

<div id="slide_container">
</div>

<script src="/javascripts/airbrain-instaword-about.js"></script>
