<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <base href="https://pickmemo.net/instaword/" />
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0" />
    <link rel='stylesheet' href='./stylesheets/normalize.css' />
    <link rel='stylesheet' href='./stylesheets/bootstrap.min.css' />
    <link rel='stylesheet' href='./stylesheets/instaword-style.css' />
    <link rel='stylesheet' href='./stylesheets/style.css' />
    <link rel='stylesheet' href='./stylesheets/small.css' media="screen and (max-width: 480px)" />
    <script src="./javascripts/lib/jquery-2.1.0.js"></script>
    <script src="./javascripts/lib/bootstrap.min.js"></script>
    <script src="./javascripts/lib/underscore.js"></script>
    <script src="./javascripts/lib/async.js"></script>
  </head>
  <body>

    <div id="wrap">
      <%- body %>
    </div>

  </body>
</html>
