<!DOCTYPE html>

<div class="container">
  <h1>INSTAWORD</h1>

  <h2>YOU HAVE ALREADY JOINED</h2>
  <p>Unfortunately your registration is failed.</p>
  <p>Your acount have already joined this group.</p>

</div>
