<!DOCTYPE html>

<div class="container">
  <h1>INSTAWORD</h1>

  <h2>REGISTRATION FAILURE</h2>
  <p>Unfortunately your registration is failed.</p>
  <p>Please try again from the invitation.</p>

</div>
