<!DOCTYPE html>

<div class="container">
  <h1>AGASTYA</h1>

  <h2>REGISTRATION SUCCESSFUL</h2>
  <p>Thank you for the registration.</p>
  <p>Your acount has benn activated.</p>

  <p><a href="/sessions/login">LOG IN</a></p>

</div>
