<!DOCTYPE html>

<div class="container">
  <h1>INSTAWORD</h1>

  <h2>REGISTRATION</h2>
  <p>Confirmation Link to activate your account has been sent to your email address.</p>
  <p>Please confirm.</p>

</div>
